pipeline/graph_send_email_metropa.json
{
	"name": "graph_send_email_metropa",
	"properties": {
		"activities": [
			{
				"name": "GET AAD Token With Graph Scope",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://login.microsoftonline.com/',pipeline().parameters.AzureTenantId,'/oauth2/v2.0/token')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "@concat('\nclient_id=',pipeline().parameters.AzureAppClientId,'\n&client_secret=',pipeline().parameters.AzureAppClientSecret,'\n&scope=https://graph.microsoft.com/.default\n&grant_type=client_credentials'\n)",
						"type": "Expression"
					},
					"httpRequestTimeout": "00:01:00"
				}
			},
			{
				"name": "POST Graph Send Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GET AAD Token With Graph Scope",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://graph.microsoft.com/v1.0/users/',pipeline().parameters.EmailSender,'/sendMail')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat(string(activity('Get AAD Token With Graph Scope').output.token_type),' ',string(activity('Get AAD Token With Graph Scope').output.access_token))",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@concat(\n    '{\n    \"message\": {\n        \"toRecipients\": [\n            {\n                \"emailAddress\": {\n                    \"address\": \"', pipeline().parameters.EmailRecipient, '\"\n                    }\n            }\n        ],  \n        \"attachments\": [\n            {\n             \"@odata.type\": \"#microsoft.graph.fileAttachment\",\n             \"name\": \"', activity('Get Metadata1').output.itemName, '\",\n             \"contentType\": \"application/vnd.ms-excel\",\n             \"contentBytes\":\"', variables('b64'), '\"\n             }\n         ],\n        \"subject\": \"', pipeline().parameters.EmailSubject, '\",\n        \"importance\": \"normal\",\n        \"body\": {\n            \"contentType\": \"HTML\",\n            \"content\": \"', pipeline().parameters.EmailContentHTML, '\"\n         }\n    },\n    \"SaveToSentItems\": ', pipeline().parameters.EmailSaveToSentItems, '\n}'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataStorageTesting",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"contentMD5",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "path",
					"value": {
						"value": "@concat('https://filesuscription.blob.core.windows.net/suscrip/',activity('Get Metadata1').output.itemName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "HttpConvertB64?blob_name=outstanding.csv",
					"method": "POST",
					"headers": {
						"Conten-Type": "application/json"
					},
					"body": {
						"blob_name": "outstanding.csv"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Azure Function1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "b64",
					"value": {
						"value": "@activity('Azure Function1').output.base64",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"AzureTenantId": {
				"type": "String",
				"defaultValue": "5c7aca42-f5da-4e68-991f-7a15a6491571"
			},
			"AzureAppClientId": {
				"type": "String",
				"defaultValue": "d783a960-2d88-4bc5-a4d7-d87fca137652"
			},
			"AzureAppClientSecret": {
				"type": "String",
				"defaultValue": "9e28Q~SVhuUd2lUlLsBQn-1W6B6EjBT.AZv7rcpE"
			},
			"EmailSender": {
				"type": "string",
				"defaultValue": "metro.report@metropa.com"
			},
			"EmailRecipient": {
				"type": "string",
				"defaultValue": "camilo.blandon@sourcemeridian.com"
			},
			"EmailSubject": {
				"type": "string",
				"defaultValue": "Test data factory"
			},
			"EmailContentHTML": {
				"type": "string",
				"defaultValue": "TEST ok data factory SUSCRIPTION"
			},
			"EmailSaveToSentItems": {
				"type": "string",
				"defaultValue": "true"
			}
		},
		"variables": {
			"filefullPath": {
				"type": "String"
			},
			"contentBytes": {
				"type": "String"
			},
			"contentBytes2": {
				"type": "Array"
			},
			"path": {
				"type": "String"
			},
			"b64": {
				"type": "String"
			},
			"b642": {
				"type": "Array"
			},
			"b64json": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ZTest_POC"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-25T16:02:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}